.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: min(90rem, 100%);
    margin-inline: auto;

    padding: 1rem;

    button {
        width: min(15rem, 40%);
    }
}