@use "abstracts" as *; 
@use "base" as *;
@use "components" as *;
@use "utils" as *;
@use "layout" as *;

/* 
other utilities 
*/
.box-shadow {
    box-shadow: 0px 0px 1px var(--clr-secondary);
}


/*
general
*/
body {
    font-family: var(--ff-body);
    background-color: var(--clr-primary);
    font-size: var(--fs-100);
}


.frame {
    background-color: var(--clr-primary-100);
    border-radius: rem($size-2);
    box-shadow: var(--frame-shadow, 0px 0px 8px lighten(black, 90));
}